.new-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Monteserrat", sans-serif;
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--salmao-70);
}

.new-password-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 30px;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    background-color: var(--salmao-75);
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(41, 39, 39, 0.486);
}

.new-password-container h2 {
    text-align: center;
    color: var(--marrom-25);
    margin-bottom: 20px;
}

.new-password-form {
    display: flex;
    flex-direction: column;
}

.new-password input {
    margin: 10px 0;
    padding: 2px;
    width: 90%;
    height: 30px;
    border: 2px solid var(--marrom-25);
    border-radius: 10px;
    background-color: var(--marrom-25);
    color: var(--cinza-72);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.new-password button {
    margin: 0 10px;
    padding: 5px;
    background-color: var(--cinza-72);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--marrom-25);
    border: 1px solid var(--cinza-72);
    border-radius: 10px;
    cursor: pointer;
}